.poster {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.poster img {
  max-width: 100%;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardBody {
  min-height: 200px;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

.posterTitle {
  position: absolute;
  top: 80%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
  margin-left: 2rem;
  z-index: 3;
}

@media (min-width: 950px) {
  .posterTitle {
    font-size: 80px;
  }
}

.trailer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.trailer iframe {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.trailer:hover iframe {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
